<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345226906974-us9t1q31gln8dn1junclgj7fbr5ngh9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345226906974-us9t1q31gln8dn1junclgj7fbr5ngh9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345226906974-viu7tam41t8hrcoe4685llq1gh2a7had.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCWUPeqD8ouZBETFxpxDpMUmJ1vRf3OlY</string>
	<key>GCM_SENDER_ID</key>
	<string>345226906974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>prog-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>prog-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345226906974:ios:41836ead93af224e1293cf</string>
</dict>
</plist>